<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- nickname --></title>
    <link rel="styleSheet" href="../styles/common.css">
    <link rel="styleSheet" href="../header/header.css">
    <link rel="styleSheet" href="myPage.css">
</head>

<body>
    <!-- header include -->
    <div class="header">
        <div class="header_container">
            <div class="header_inner">
                <div class="header_left">
                    <div class="header_icon">Untitled</div>
                </div>
                <div class="header_right">
                    <!-- 로그인 성공 시 setting 아이콘과 프로필 사진 뜨게 하기 -->
                    <button id="login">로그인</button>
                    <input type="submit" value="회원가입" id="register">
                </div>
            </div>
        </div>
    </div>
    <div class="root">
        <div class="circle"></div>
        <div class="wrap">
            <div class="wrap_inner">
                <section class="main">
                    <div class="top">
                        <div>
                            <div class="profile_img">
                                <img src="../images/profile.jpg">
                            </div>
                            <div class="profile">
                                <div class="nickname">nickname</div>
                                <div class="email">email@google.com</div>
                                <div class="info_comment">introduce comment</div>
                            </div>
                        </div>
                        <button id="btn">프로필 수정</button>
                    </div>
                    <div class="middle">
                        <div class="rate_cnt">
                            <div class="count">860</div>
                            <div class="cnt_tag">평가</div>
                        </div>
                        <div class="review_cnt">
                            <div class="count">220</div>
                            <div class="cnt_tag">리뷰</div>
                        </div>
                        <div class="rate_avg">
                            <div class="count">220</div>
                            <div class="cnt_tag">평균 별점</div>
                        </div>
                    </div>
                </section>
                <!-- calendar include -->
                <div class="calendar_wrap">
                    <div class="calendar_title">캘린더</div>
                    <div class="calendarHeader">
                        <div class="month_wrap">
                            <div class="month_btns">
                                <button class="go-prev" onclick="prevMonth()">&lt;</button>
                                <div class="curDate">
                                    <div class="curYear"></div>
                                    <div class="curMonth"></div>
                                </div>
                                <button class="go-next" onclick="nextMonth()">&gt;</button>
                            </div>
                        </div>
                        <button type="button" class="today" onclick="goToday()">오늘</button>
                    </div>
                    <div class="calendarBody">
                        <ul id="monthList">
                            <li>Jan</li>
                            <li>Feb</li>
                            <li>Mar</li>
                            <li>Apr</li>
                            <li>May</li>
                            <li>Jun</li>
                            <li>Jul</li>
                            <li>Aug</li>
                            <li>Sep</li>
                            <li>Oct</li>
                            <li>Nov</li>
                            <li>Dec</li>
                        </ul>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer include -->
    <div class="footer">
        <div class="root">
            <div class="footer_inner">
                <div class="footer_items">
                    <div class="footer_item">Home</div>
                    <div class="footer_item">FAQ</div>
                    <div class="footer_item">Contact</div>
                    <div class="footer_item">Terms of Use</div>
                    <div class="footer_item">Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
    <script src="myPage.js"></script>
</body>

</html>