<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieHub</title>
    <link rel="styleSheet" href="../styles/common.css">
    <link rel="styleSheet" href="../header/header.css">
    <link rel="stylesheet" href="search.css">
</head>

<body>
    <div class="header">
        <div class="header_container">
            <div class="header_inner">
                <div class="header_left">
                    <div class="header_icon">MovieHub</div>
                </div>
                <div class="header_right">
                    <!-- 로그인 성공 시 setting 아이콘과 프로필 사진 뜨게 하기 -->
                    <button id="login">로그인</button>
                    <input type="submit" value="회원가입" id="register">
                </div>
            </div>
        </div>
    </div>
    <div class="root">
        <div class="wrap">
            <section class="search">
                <div class="search_result">"기생충"의 검색 결과</div>
                <div class="search_box">
                    <input id="textBox" type="text" placeholder="검색어를 입력하고 엔터를 눌러주세요.">
                    <div class="search_trend">
                        <div id="trending">인기 급상승 <span id="close">X</span> </div>
                        <div class="search_ul">
                            <ul>
                                <li>
                                    <a class="image" href="#" title="title">
                                        title
                                    </a>
                                </li>
                                <li>
                                    <a class="image" href="#" title="title">
                                        title
                                    </a>
                                </li>
                                <li>
                                    <a class="image" href="#" title="title">
                                        title
                                    </a>
                                </li>
                                <li>
                                    <a class="image" href="#" title="title">
                                        title
                                    </a>
                                </li>
                                <li>
                                    <a class="image" href="#" title="title">
                                        title
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="movie_wrapper">
                <div class="movie_box">
                    <div class="movie_list">
                        <a class="image" href="#" title="기생충">
                            <div class="movie_image">
                                <img src="http://placehold.it/190x280" alt="기생충">
                            </div>
                        </a>
                        <div class="movie_info">
                            <div class="movie_title">기생충</div>
                            <div class="movie_year">2019 ・ 한국</div>
                        </div>
                    </div>
                    <div class="movie_list">
                        <a class="image" href="#" title="기생충 흑백판">
                            <div class="movie_image">
                                <img src="http://placehold.it/190x280" alt="기생충 흑백판">
                            </div>
                        </a>
                        <div class="movie_info">
                            <div class="movie_title">기생충 흑백판</div>
                            <div class="movie_year">2020 ・ 한국</div>
                        </div>
                    </div>
                    <div class="movie_list">
                        <a class="image" href="#" title="사랑하는 기생충">
                            <div class="movie_image">
                                <img src="http://placehold.it/190x280" alt="사랑하는 기생충">
                            </div>
                        </a>
                        <div class="movie_info">
                            <div class="movie_title">사랑하는 기생충</div>
                            <div class="movie_year">2021 ・ 일본</div>
                        </div>
                    </div>
                    <div class="movie_list">
                        <a class="image" href="#" title="마약기생충">
                            <div class="movie_image">
                                <img src="http://placehold.it/190x280" alt="마약기생충">
                            </div>
                        </a>
                        <div class="movie_info">
                            <div class="movie_title">마약기생충</div>
                            <div class="movie_year">2019 ・ 콜롬비아/미국</div>
                        </div>
                    </div>
                    <div class="movie_list">
                        <a class="image" href="#" title="파라노말 기생충">
                            <div class="movie_image">
                                <img src="http://placehold.it/190x280" alt="마약기생충">
                            </div>
                        </a>
                        <div class="movie_info">
                            <div class="movie_title">파라노말 기생충</div>
                            <div class="movie_year">2015 ・ 일본</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="desc_wrapper">
                <div class="description">
                    <p>검색 리스트</p>
                    <div class="description_list">
                        <div class="left_side">
                            <a class="image" href="#" title="기생충">
                                <img src="http://placehold.it/190x280" alt="기생충">
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="title_year">
                                <div class="description_title">기생충</div>
                                <div class="description_year">2019 ・ 한국</div>
                            </div>
                            <div class="plot">
                                전원 백수로 살 길 막막하지만 사이는 좋은 기택 가족. 장남 기우에게 명문대생 친구가 연결시켜 준 고액 과외 자리는 모처럼 싹튼 고정수입의 희망이다. 온
                                가족의
                                도움과 기대
                                속에 박 사장 집으로 향하는 기우. 글로벌
                                IT기업의 CEO인 박 사장의 저택에 도착하자 젊고 아름다운 사모님 연교와 가정부 문광이 기우를 맞이한다. 큰 문제 없이 박 사장의 딸 다혜의 과외를 시작한
                                기우.
                                그러나
                                이렇게 시작된 두 가족의 만남 뒤로, 걷잡을
                                수 없는 사건이 기다리고 있는데.....
                            </div>
                        </div>
                    </div>
                    <div class="description_list">
                        <div class="left_side">
                            <a class="image" href="#" title="기생충 흑백판">
                                <img src="http://placehold.it/190x280" alt="기생충 흑백판">
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="title_year">
                                <div class="description_title">기생충 흑백판</div>
                                <div class="description_year">2020 ・ 한국</div>
                            </div>
                            <div class="plot">
                                전원 백수로 살 길 막막하지만 사이는 좋은 기택 가족. 장남 기우에게 명문대생 친구가 연결시켜 준 고액 과외 자리는 모처럼 싹튼 고정수입의 희망이다. 온
                                가족의
                                도움과 기대
                                속에 박 사장 집으로 향하는 기우. 글로벌
                                IT기업의 CEO인 박 사장의 저택에 도착하자 젊고 아름다운 사모님 연교와 가정부 문광이 기우를 맞이한다. 큰 문제 없이 박 사장의 딸 다혜의 과외를 시작한
                                기우.
                                그러나
                                이렇게 시작된 두 가족의 만남 뒤로, 걷잡을
                                수 없는 사건이 기다리고 있는데.....
                            </div>
                        </div>
                    </div>
                    <div class="description_list">
                        <div class="left_side">
                            <a class="image" href="#" title="사랑하는 기생충">
                                <img src="http://placehold.it/190x280" alt="사랑하는 기생충">
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="title_year">
                                <div class="description_title">사랑하는 기생충</div>
                                <div class="description_year">2021 ・ 일본</div>
                            </div>
                            <div class="plot">
                                운명이나 우연인가, 아니면 벌레의 소행인가 .지금까지 맛본적이 없는 듯한 이색 러브 스토리. 극도의 결벽증으로 사람과 엮이지 못하며 살아온 청년 타카사가
                                켄코. 그는
                                어느
                                날 낯선 남자에게 부탁을 받는다. 기생충을
                                좋아하고 시선 공포증에 등교를 거부하는 고교생 히지리의 친구가 되어 그녀를 돌봐달라는 기묘한 의뢰. 그리고 외로운 두 사람은 곧 끌려 서로 사랑에
                                빠져가지만...
                            </div>
                        </div>
                    </div>
                    <div class="description_list">
                        <div class="left_side">
                            <a class="image" href="#" title="마약기생충">
                                <img src="http://placehold.it/190x280" alt="마약기생충">
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="title_year">
                                <div class="description_title">마약기생충</div>
                                <div class="description_year">2019 ・ 콜롬비아/미국</div>
                            </div>
                            <div class="plot">
                                캐나다 벤쿠버에서 대기업을 운영하고 있는 ‘회장’은 남미에서 제조한 마약을 밀반입해 불법으로 유통시켜 짭짤한 부수입을 올리고 있다. 어느 날, 1Kg 당
                                20g의
                                마약이
                                사라지고 있다는 사실을 확인한 그는 오랫동안
                                자신의 밑에서 마약유통을 책임져 온 ‘요리사’에게 유통경로의 문제점을 파악하라고 지시한다. 이에 ‘요리사’는 이를 확인하기 위해 콜롬비아로 향하는데...
                            </div>
                        </div>
                    </div>
                    <div class="description_list">
                        <div class="left_side">
                            <a class="image" href="#" title="파라노말 기생충">
                                <img src="http://placehold.it/190x280" alt="마약기생충">
                            </a>
                        </div>
                        <div class="right_side">
                            <div class="title_year">
                                <div class="description_title">파라노말 기생충</div>
                                <div class="description_year">2015 ・ 일본</div>
                            </div>
                            <div class="plot">
                                영상제작사 빅 섬머의 카메라맨인 코구레는 빨간 구슬 7개를 모으면 구슬의 신이 나타나 소원을 이루어준다는 전설을 믿고 있다.미도리는 어린 시절 곤충 연구가인
                                아버지를
                                따라
                                산에 올라갔다가 희귀한 기생충을 삼켜버리고
                                만다.그 이후로 기이한 능력을 얻게 된다.미도리의 전 남자친구 키타노, 그녀의 현재 남자친구 나카야마, 그녀를 외면하고 곤충 연구에만 집중하며 처자식을 등지고
                                산
                                미도리의
                                친부 타카지마 이치로까지...
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="footer">
        <div class="root">
            <div class="footer_inner">
                <div class="footer_items">
                    <div class="footer_item">Home</div>
                    <div class="footer_item">FAQ</div>
                    <div class="footer_item">Contact</div>
                    <div class="footer_item">Terms of Use</div>
                    <div class="footer_item">Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
    <script src="search.js"></script>
</body>

</html>