@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Henny+Penny&display=swap');
*{margin:0; padding:0;}
body{font-family: 'Times New Roman', serif;}
#title{font-family: 'Henny Penny', cursive;}
li a{text-decoration: none;}
li {list-style: none;}

#main_header{
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 160px;
}
#title{
  position: absolute;
}
#main_gnb{
  overflow: hidden;
  position: absolute;
  top:0; right:0;
}
#main_gnb>ul{
  overflow: hidden;
}
#main_gnb>ul>li{
  float: left;
  border: 1px solid black;
}
#main_gnb>ul>li>a{
  display: inline;
  padding: 8px;
}
#main_gnb>ul>li:first-child{
  border-radius: 10px 0px 0px 10px;
}
#main_gnb>ul>li:last-child{
  border-radius: 0px 10px 10px 0px;
}
#main_lnb{
  position: absolute;
  right: 0; bottom: 10px;
}
#main_lnb>ul{overflow: hidden;}
#main_lnb>ul>li{
  float: left;
  border: 1px solid black;
}
#main_lnb>ul>li>a{
  display: inline;
  font-size: 17px;
  padding: 15px;
}
#main_lnb>ul>li:first-child{
  border-radius: 5px 0px 0px 5px;
}
#main_lnb>ul>li:last-child{
  border-radius: 0px 5px 5px 0px;
}
#content{
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  clear: both;
}
#main_section{
  float: left;
  width: 750px;
  margin-bottom: 10px;
}
#main_section>.main_article{
  border: 1px solid black;
  padding: 20px;
}
#main_aside{
  float: right;
  width: 200px;
  overflow: hidden;
}
#main_footer{
  border: 1px solid black;
  overflow: hidden;
  width: 960px;
  margin: 0px auto;
  text-align: center;
}
